{% extends 'changellenge/base/base.html' %}
{% load static %}
{% load martortags %}
{% load changellenge %}
{% block content %}
    {% include 'changellenge/base/header.html' %}
    <div class="mt-1" id="app">
        <div class="container">
            <div class="row mb-3 mt-3">
                <div class="col justify-content-xl-start">
                    <form class="d-lg-flex d-xl-flex">
                        {% for service_sate in service_sates %}
                            <div class="form-check border rounded {% if forloop.counter0 != 0 %}
                            ml-cst
                            {% endif %}" style="padding: 0;">
                                <input class="form-check-input" type="radio" id="{{ service_sate.0 }}" name="sort"
                                       style="display: none;" value="{{ service_sate.0 }}">
                                <label class="form-check-label radio-lab" @click="filterParam='{{ service_sate.0 }}'"
                                       for="{{ service_sate.0 }}">{{ service_sate.1 }}</label>
                            </div>
                        {% endfor %}
                        <input class="form-control search-stl" @input="search" @change="search"
                               type="search" placeholder="Поиск">
                        <div class="dropdown bg-info border rounded border-info drp-stl">
                            <button class="btn btn-info dropdown-toggle drp-itm" data-toggle="dropdown"
                                    aria-expanded="false">Теги
                            </button>
                            <div class="dropdown-menu drp-itm" role="menu">
                                <a class="dropdown-item" role="presentation" href="#">SQL</a>
                                <a class="dropdown-item" role="presentation" href="#">Аналитика</a>
                                <a class="dropdown-item" role="presentation" href="#">Интеграция</a>
                                <a class="dropdown-item" role="presentation" href="#">Вычисления</a>
                                <a class="dropdown-item" role="presentation" href="#">Рассылка</a>
                                <a class="dropdown-item" role="presentation" href="#">Мультимедиа</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4 mb-3" data-aos="fade" v-for="service in filtredServices">
                    <div class="card">
                        <div class="card-body" style="font-family: Montserrat, sans-serif;">
                            <h4 class="card-title">
                                {% templatetag openvariable %} service.name {% templatetag closevariable %}
                            </h4>
                            <h6 class="text-muted card-subtitle mb-2">SQL</h6>
                            <p class="card-text" v-html="service.about_html">
                            </p>
                            <button class="btn btn-info" type="button" data-toggle="modal" data-target="#more"
                                    v-on:click="modalID=service.id, modalShow()">
                                Подробнее
                            </button>
                            <a class="card-link text-dark" href="javascript:void(0);">
                                <img class="float-right heart"
                                     src="{% static 'changellenge/assets/img/heartt.png' %}" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="more" data-toggle="modal"
         style="font-family: Montserrat, sans-serif;">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" v-html="modalData.name"><br></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p>Статус:&nbsp;
                        <em style="font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;opacity: 1;font-size: 14px;color: #0b8d00;"
                            v-html="modalData.status_name">
                            готовое
                            <br></em>
                    </p>
                    <hr>
                    <p>Теги:&nbsp;<a class="mr-1" href="#"
                                     style="color: #007b8d;font-weight: bold;font-family: Montserrat, sans-serif;font-style: normal;font-size: 14px;">SQL</a>
                    </p>
                    <hr>
                    <span v-html="modalData.about_html"></span>
                </div>
                <div class="modal-footer flex-row-reverse">
                    <span>Разработчики:&nbsp;
                        <a v-for="autor in modalData.authors" class="text-black-50 mr-1" href="#">
                            {% templatetag openvariable %} autor.first_name {% templatetag closevariable %}
                            {% templatetag openvariable %} autor.last_name {% templatetag closevariable %} ,</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="add" style="font-family: Montserrat, sans-serif;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"
                        style="font-family: Montserrat, sans-serif;font-weight: 500;font-style: normal;">Добавление
                        сервиса</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'add-service' %}">
                        {% csrf_token %}
                        <p>
                            Название:&nbsp;<input class="border rounded form-control" type="text" required=""
                                                  name="name">
                        </p>
                        <p>
                            Описание:&nbsp;{{ form.about }}
                        </p>
                        <p class="mb-0">
                            Авторы:&nbsp;
                        </p>
                        <div class="form-group">
                            <input class="form-control form-control mb-1" type="text" name="authors"
                                   value="{{ request.user.first_name }} {{ request.user.last_name }}" placeholder=" ">
                        </div>
                        <p class="mb-0">&nbsp;Связанные сервисы:</p>
                        <div class="form-group">
                            <input class="form-control form-control mb-1" type="text" name="parents"
                                   value="" placeholder=" "></div>
                        <p class="mb-0">Тег:</p>
                        <div class="form-group"><input class="form-control form-control mb-1" type="text" name="tags"
                                                       value="" placeholder=" "></div>
                        <button class="btn btn-info" type="submit">Добавить</button>
                        <button class="btn btn-light ml-3" type="button" data-dismiss="modal">Закрыть</button>
                        <span
                                class="text-uppercase float-right mt-2"
                                style="font-weight: bold;color: #0b8d00;font-size: 14px;">добавлено</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block onready %}
    $('input[name="authors"]').amsifySuggestags({
    type: 'amsify',
    {% autoescape off %}
        suggestions: {{ users }},
    {% endautoescape %}
    whiteList: true
    });
    $('input[name="parents"]').amsifySuggestags({
    type: 'amsify',
    {% autoescape off %}
        suggestions: {{ services_name }},
    {% endautoescape %}
    whiteList: true
    });
    $('input[name="tags"]').amsifySuggestags({
    type: 'amsify',
    {% autoescape off %}
        suggestions: {{ tags }},
    {% endautoescape %}
    whiteList: true
    });
{% endblock %}
{% block extra_js %}
    {% autoescape off %}
        {{ None|get_martor_js }}
    {% endautoescape %}
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                filterParam: '',
                services: [
                    {% autoescape off %}
                        {% for service in services %}
                            {
                                'id': {{ service.id }},
                                'name': `{{ service.name }}`,
                                {% autoescape off %}
                                    'about': `{{ service.about|safe_markdown|truncatechars_html:100 }}`,
                                {% endautoescape %}
                                'status': `{{ service.status }}`
                            },
                        {% endfor %}
                    {% endautoescape %}
                ],
                modalID: 1,
                modalData: {
                    'about_html': '',
                    'status_name': '',
                    'name': '',
                    'authors': [{'last_name': '', 'first_name': ''}],
                },
                query: ''
            },
            mounted() {
                axios
                    .get('{% url "api-get-services" %}')
                    .then(response => (this.services = response.data));
            },
            methods: {
                modalShow: function (event) {
                    console.log(this.modalID);
                    axios
                        .get('{% url "api-get-service" '0' %}'.replace('0', this.modalID))
                        .then(response => (this.modalData = response.data));
                    console.log(this.modalData);
                },
                getAllServices: function () {
                    axios
                        .get('{% url "api-get-services" %}')
                        .then(response => (this.services = response.data));
                },
                search: function ({type, target}) {
                    this.filterParam = '';

                    $('input[name="sort"]').each((k, v) => {
                        $(v).next().css('background-color', 'rgb(255,255,255)');
                        $(v).next().css('color', 'black');
                        $(v).parent().css('background-color', 'rgb(255,255,255)');
                    });
                    axios
                        .get('{% url "api-get-services" %}' + `?q=${target.value}`)
                        .then(response => (this.services = response.data));
                }
            },
            computed: {
                filtredServices() {
                    if (this.filterParam === '')
                        return this.services;
                    return this.services.filter(data => data['status'] === this.filterParam);
                }
            }
        });
    </script>
    <script>
    </script>
{% endblock %}
{% block extra_css %}
    {% autoescape off %}
        {{ None|get_martor_css }}
    {% endautoescape %}
{% endblock %}