{% extends 'changellenge/base/base.html' %}
{% load static %}
{% block content %}
    {% include 'changellenge/base/header.html' %}
    <div class="container mt-2" style="font-family: Montserrat, sans-serif;">
        <h3 class="display-4 text-uppercase heading">Добавленные сервисы</h3>
    </div>
    <hr>
    <div style="font-family: Montserrat, sans-serif;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 p-2">
                    <h4 class="mb-0 serv-name">Amazon DynamoDB
                        <button class="btn btn-info edit-btn" type="button" data-target="#edit" data-toggle="modal">
                            Редактировать
                        </button>
                        <button class="btn btn-danger del-btn" type="button" data-target="#req" data-toggle="modal">
                            Удалить
                        </button>
                        <a
                                class="status stat-cont" href="#"></a><br></h4>
                    <hr>
                    <h4 class="mb-0 serv-name">Amazon DynamoDB
                        <button class="btn btn-info edit-btn" type="button" data-target="#edit" data-toggle="modal">
                            Редактировать
                        </button>
                        <button class="btn btn-danger del-btn" type="button" data-target="#req" data-toggle="modal">
                            Удалить
                        </button>
                        <a
                                class="text-success status stat-cont1" href="#"></a><br></h4>
                    <hr>
                    <h4 class="mb-0 serv-name">Amazon DynamoDB
                        <button class="btn btn-info edit-btn" type="button" data-target="#edit" data-toggle="modal">
                            Редактировать
                        </button>
                        <button class="btn btn-danger del-btn" type="button" data-target="#req" data-toggle="modal">
                            Удалить
                        </button>
                        <a
                                class="text-warning status stat-cont2" href="#"></a><br></h4>
                    <hr>
                    <h4 class="mb-0 serv-name">Amazon DynamoDB
                        <button class="btn btn-info edit-btn" type="button" data-target="#edit" data-toggle="modal">
                            Редактировать
                        </button>
                        <button class="btn btn-danger del-btn" type="button" data-target="#req" data-toggle="modal">
                            Удалить
                        </button>
                        <a
                                class="text-muted status stat-cont3" href="#"></a><br></h4>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="edit" style="font-family: Montserrat, sans-serif;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"
                        style="font-family: Montserrat, sans-serif;font-weight: 500;font-style: normal;">
                        Редактирование</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="#">
                        <p>Название:&nbsp;<input class="border rounded form-control" type="text" required=""
                                                 value="Amazon DynamoDB"></p>
                        <p>Описание:&nbsp;<textarea class="form-control" cols="5" rows="5">Amazon DynamoDB – это база данных пар «ключ‑значение» и документов, которая обеспечивает задержку менее 10&amp;nbsp;миллисекунд при работе в любом масштабе.</textarea>
                        </p>
                        <p
                                class="mb-0">Авторы:&nbsp;</p>
                        <div class="form-group"><input class="form-control form-control mb-1" type="text" name="planets"
                                                       value="Earth,Mars" placeholder=" "></div>
                        <p class="mb-0">&nbsp;Связанные сервисы:</p>
                        <div class="form-group"><input class="form-control form-control mb-1" type="text" name="planets"
                                                       value="Earth,Mars" placeholder=" "></div>
                        <p class="mb-0">Тег:</p>
                        <div class="form-group"><input class="form-control form-control mb-1" type="text" name="planets"
                                                       value="Earth,Mars" placeholder=" "></div>
                        <button class="btn btn-info" id="save-btn" type="button">Сохранить</button>
                        <button class="btn btn-light ml-3"
                                type="button" data-dismiss="modal">Закрыть
                        </button>
                        <span class="text-uppercase float-right mt-2 stat-stl">Сохранено</span></form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="add" style="font-family: Montserrat, sans-serif;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"
                        style="font-family: Montserrat, sans-serif;font-weight: 500;font-style: normal;">Добавление
                        сервиса</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="#">
                        <p>Название:&nbsp;<input class="border rounded form-control" type="text" required=""></p>
                        <p>Описание:&nbsp;<textarea class="form-control" cols="5" rows="5"></textarea></p>
                        <p class="mb-0">Авторы:&nbsp;</p>
                        <div class="form-group"><input class="form-control form-control mb-1" type="text" name="planets"
                                                       value="Earth,Mars" placeholder=" "></div>
                        <p class="mb-0">&nbsp;Связанные сервисы:</p>
                        <div class="form-group"><input class="form-control form-control mb-1" type="text" name="planets"
                                                       value="Earth,Mars" placeholder=" "></div>
                        <p class="mb-0">Тег:</p>
                        <div class="form-group"><input class="form-control form-control mb-1" type="text" name="planets"
                                                       value="Earth,Mars" placeholder=" "></div>
                        <button class="btn btn-info" type="button">Добавить</button>
                        <button class="btn btn-light ml-3" type="button" data-dismiss="modal">Закрыть</button>
                        <span
                                class="text-uppercase float-right mt-2"
                                style="font-weight: bold;color: #0b8d00;font-size: 14px;">добавлено</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="req" style="font-family: Montserrat, sans-serif;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Вы уверены?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p class="modal-req">Удалить сервис&nbsp;<br><strong>Amazon DynamoDB?<br></strong></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-dismiss="modal">Отмена</button>
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Удалить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}