{% extends 'changellenge/base/base.html' %}
{% load static %}
{% block content %}
    {% include 'changellenge/base/header.html' %}
    <div class="container mt-2" style="font-family: Montserrat, sans-serif;">
        <h3 class="display-4 text-uppercase heading">личный кабинет</h3>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="container">
                <h4 class="text-center">Мой профиль</h4>
                <hr>
                <form class="prof-info">
                    <div class="prof-info"><span class="mt-2">Имя:</span><input class="form-control mrg-input"
                                                                                type="text" value="Гриша"></div>
                    <div class="prof-info"><span class="mt-2">Фамилия:</span><input class="form-control mrg-input"
                                                                                    type="text" value="Лейкин"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
        <h4 class="text-center">Избранное</h4>
        <hr>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4 mb-3" data-aos="fade">
                    <div class="card">
                        <div class="card-body" style="font-family: Montserrat, sans-serif;">
                            <h4 class="card-title">Amazon DynamoDB</h4>
                            <h6 class="text-muted card-subtitle mb-2">SQL</h6>
                            <p class="card-text">Amazon DynamoDB&nbsp;– это база данных пар «ключ‑значение» и
                                документов, которая обеспечивает задержку менее 10&nbsp;миллисекунд при работе в любом
                                масштабе.<br></p>
                            <button class="btn btn-info" type="button" data-toggle="modal"
                                    data-target="#more">Подробнее
                            </button>
                            <a class="card-link text-dark" href="javascript:void(0)"><img class="float-right heart-rev"
                                                                                          src="{% static 'changellenge/assets/img/heartt.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3" data-aos="fade">
                    <div class="card">
                        <div class="card-body" style="font-family: Montserrat, sans-serif;">
                            <h4 class="card-title">Amazon DynamoDB</h4>
                            <h6 class="text-muted card-subtitle mb-2">SQL</h6>
                            <p class="card-text">Amazon DynamoDB&nbsp;– это база данных пар «ключ‑значение» и
                                документов, которая обеспечивает задержку менее 10&nbsp;миллисекунд при работе в любом
                                масштабе.<br></p>
                            <button class="btn btn-info" type="button" data-toggle="modal"
                                    data-target="#more">Подробнее
                            </button>
                            <a class="card-link text-dark" href="javascript:void(0)"><img class="float-right heart-rev"
                                                                                          src="{% static 'changellenge/assets/img/heartt.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3" data-aos="fade">
                    <div class="card">
                        <div class="card-body" style="font-family: Montserrat, sans-serif;">
                            <h4 class="card-title">Amazon DynamoDB</h4>
                            <h6 class="text-muted card-subtitle mb-2">SQL</h6>
                            <p class="card-text">Amazon DynamoDB&nbsp;– это база данных пар «ключ‑значение» и
                                документов, которая обеспечивает задержку менее 10&nbsp;миллисекунд при работе в любом
                                масштабе.<br></p>
                            <button class="btn btn-info" type="button" data-toggle="modal"
                                    data-target="#more">Подробнее
                            </button>
                            <a class="card-link text-dark" href="javascript:void(0)"><img class="float-right heart-rev"
                                                                                          src="{% static 'changellenge/assets/img/heartt.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3" data-aos="fade">
                    <div class="card">
                        <div class="card-body" style="font-family: Montserrat, sans-serif;">
                            <h4 class="card-title">Amazon DynamoDB</h4>
                            <h6 class="text-muted card-subtitle mb-2">SQL</h6>
                            <p class="card-text">Amazon DynamoDB&nbsp;– это база данных пар «ключ‑значение» и
                                документов, которая обеспечивает задержку менее 10&nbsp;миллисекунд при работе в любом
                                масштабе.<br></p>
                            <button class="btn btn-info" type="button" data-toggle="modal"
                                    data-target="#more">Подробнее
                            </button>
                            <a class="card-link text-dark" href="javascript:void(0)"><img class="float-right heart-rev"
                                                                                          src="{% static 'changellenge/assets/img/heartt.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3" data-aos="fade">
                    <div class="card">
                        <div class="card-body" style="font-family: Montserrat, sans-serif;">
                            <h4 class="card-title">Amazon DynamoDB</h4>
                            <h6 class="text-muted card-subtitle mb-2">SQL</h6>
                            <p class="card-text">Amazon DynamoDB&nbsp;– это база данных пар «ключ‑значение» и
                                документов, которая обеспечивает задержку менее 10&nbsp;миллисекунд при работе в любом
                                масштабе.<br></p>
                            <button class="btn btn-info" type="button" data-toggle="modal"
                                    data-target="#more">Подробнее
                            </button>
                            <a class="card-link text-dark" href="javascript:void(0)"><img class="float-right heart-rev"
                                                                                          src="{% static 'changellenge/assets/img/heartt.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3" data-aos="fade">
                    <div class="card">
                        <div class="card-body" style="font-family: Montserrat, sans-serif;">
                            <h4 class="card-title">Amazon DynamoDB</h4>
                            <h6 class="text-muted card-subtitle mb-2">SQL</h6>
                            <p class="card-text">Amazon DynamoDB&nbsp;– это база данных пар «ключ‑значение» и
                                документов, которая обеспечивает задержку менее 10&nbsp;миллисекунд при работе в любом
                                масштабе.<br></p>
                            <button class="btn btn-info" type="button" data-toggle="modal"
                                    data-target="#more">Подробнее
                            </button>
                            <a class="card-link text-dark" href="javascript:void(0)"><img class="float-right heart-rev"
                                                                                          src="{% static 'changellenge/assets/img/heartt.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3" data-aos="fade">
                    <div class="card">
                        <div class="card-body" style="font-family: Montserrat, sans-serif;">
                            <h4 class="card-title">Amazon DynamoDB</h4>
                            <h6 class="text-muted card-subtitle mb-2">SQL</h6>
                            <p class="card-text">Amazon DynamoDB&nbsp;– это база данных пар «ключ‑значение» и
                                документов, которая обеспечивает задержку менее 10&nbsp;миллисекунд при работе в любом
                                масштабе.<br></p>
                            <button class="btn btn-info" type="button" data-toggle="modal"
                                    data-target="#more">Подробнее
                            </button>
                            <a class="card-link text-dark" href="javascript:void(0)"><img class="float-right heart-rev"
                                                                                          src="{% static 'changellenge/assets/img/heartt.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3" data-aos="fade">
                    <div class="card">
                        <div class="card-body" style="font-family: Montserrat, sans-serif;">
                            <h4 class="card-title">Amazon DynamoDB</h4>
                            <h6 class="text-muted card-subtitle mb-2">SQL</h6>
                            <p class="card-text">Amazon DynamoDB&nbsp;– это база данных пар «ключ‑значение» и
                                документов, которая обеспечивает задержку менее 10&nbsp;миллисекунд при работе в любом
                                масштабе.<br></p>
                            <button class="btn btn-info" type="button" data-toggle="modal"
                                    data-target="#more">Подробнее
                            </button>
                            <a class="card-link text-dark" href="javascript:void(0)"><img class="float-right heart-rev"
                                                                                          src="{% static 'changellenge/assets/img/heartt.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3" data-aos="fade">
                    <div class="card">
                        <div class="card-body" style="font-family: Montserrat, sans-serif;">
                            <h4 class="card-title">Amazon DynamoDB</h4>
                            <h6 class="text-muted card-subtitle mb-2">SQL</h6>
                            <p class="card-text">Amazon DynamoDB&nbsp;– это база данных пар «ключ‑значение» и
                                документов, которая обеспечивает задержку менее 10&nbsp;миллисекунд при работе в любом
                                масштабе.<br></p>
                            <button class="btn btn-info" type="button" data-toggle="modal"
                                    data-target="#more">Подробнее
                            </button>
                            <a class="card-link text-dark" href="javascript:void(0)"><img class="float-right heart-rev"
                                                                                          src="{% static 'changellenge/assets/img/heartt.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3" data-aos="fade">
                    <div class="card">
                        <div class="card-body" style="font-family: Montserrat, sans-serif;">
                            <h4 class="card-title">Amazon DynamoDB</h4>
                            <h6 class="text-muted card-subtitle mb-2">SQL</h6>
                            <p class="card-text">Amazon DynamoDB&nbsp;– это база данных пар «ключ‑значение» и
                                документов, которая обеспечивает задержку менее 10&nbsp;миллисекунд при работе в любом
                                масштабе.<br></p>
                            <button class="btn btn-info" type="button" data-toggle="modal"
                                    data-target="#more">Подробнее
                            </button>
                            <a class="card-link text-dark" href="javascript:void(0)"><img class="float-right heart-rev"
                                                                                          src="{% static 'changellenge/assets/img/heartt.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3" data-aos="fade">
                    <div class="card">
                        <div class="card-body" style="font-family: Montserrat, sans-serif;">
                            <h4 class="card-title">Amazon DynamoDB</h4>
                            <h6 class="text-muted card-subtitle mb-2">SQL</h6>
                            <p class="card-text">Amazon DynamoDB&nbsp;– это база данных пар «ключ‑значение» и
                                документов, которая обеспечивает задержку менее 10&nbsp;миллисекунд при работе в любом
                                масштабе.<br></p>
                            <button class="btn btn-info" type="button" data-toggle="modal"
                                    data-target="#more">Подробнее
                            </button>
                            <a class="card-link text-dark" href="javascript:void(0)"><img class="float-right heart-rev"
                                                                                          src="{% static 'changellenge/assets/img/heartt.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3" data-aos="fade">
                    <div class="card">
                        <div class="card-body" style="font-family: Montserrat, sans-serif;">
                            <h4 class="card-title">Amazon DynamoDB</h4>
                            <h6 class="text-muted card-subtitle mb-2">SQL</h6>
                            <p class="card-text">Amazon DynamoDB&nbsp;– это база данных пар «ключ‑значение» и
                                документов, которая обеспечивает задержку менее 10&nbsp;миллисекунд при работе в любом
                                масштабе.<br></p>
                            <button class="btn btn-info" type="button" data-toggle="modal"
                                    data-target="#more">Подробнее
                            </button>
                            <a class="card-link text-dark" href="javascript:void(0)"><img class="float-right heart-rev"
                                                                                          src="{% static 'changellenge/assets/img/heartt.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3" data-aos="fade">
                    <div class="card">
                        <div class="card-body" style="font-family: Montserrat, sans-serif;">
                            <h4 class="card-title">Amazon DynamoDB</h4>
                            <h6 class="text-muted card-subtitle mb-2">SQL</h6>
                            <p class="card-text">Amazon DynamoDB&nbsp;– это база данных пар «ключ‑значение» и
                                документов, которая обеспечивает задержку менее 10&nbsp;миллисекунд при работе в любом
                                масштабе.<br></p>
                            <button class="btn btn-info" type="button" data-toggle="modal"
                                    data-target="#more">Подробнее
                            </button>
                            <a class="card-link text-dark" href="javascript:void(0)"><img class="float-right heart-rev"
                                                                                          src="{% static 'changellenge/assets/img/heartt.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3" data-aos="fade">
                    <div class="card">
                        <div class="card-body" style="font-family: Montserrat, sans-serif;">
                            <h4 class="card-title">Amazon DynamoDB</h4>
                            <h6 class="text-muted card-subtitle mb-2">SQL</h6>
                            <p class="card-text">Amazon DynamoDB&nbsp;– это база данных пар «ключ‑значение» и
                                документов, которая обеспечивает задержку менее 10&nbsp;миллисекунд при работе в любом
                                масштабе.<br></p>
                            <button class="btn btn-info" type="button" data-toggle="modal"
                                    data-target="#more">Подробнее
                            </button>
                            <a class="card-link text-dark" href="javascript:void(0)"><img class="float-right heart-rev"
                                                                                          src="{% static 'changellenge/assets/img/heartt.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3" data-aos="fade">
                    <div class="card">
                        <div class="card-body" style="font-family: Montserrat, sans-serif;">
                            <h4 class="card-title">Amazon DynamoDB</h4>
                            <h6 class="text-muted card-subtitle mb-2">SQL</h6>
                            <p class="card-text">Amazon DynamoDB&nbsp;– это база данных пар «ключ‑значение» и
                                документов, которая обеспечивает задержку менее 10&nbsp;миллисекунд при работе в любом
                                масштабе.<br></p>
                            <button class="btn btn-info" type="button" data-toggle="modal"
                                    data-target="#more">Подробнее
                            </button>
                            <a class="card-link text-dark" href="javascript:void(0)"><img class="float-right heart-rev"
                                                                                          src="{% static 'changellenge/assets/img/heartt.png' %}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="more" data-toggle="modal"
         style="font-family: Montserrat, sans-serif;">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Amazon DynamoDB<br></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p>Статус:&nbsp;<em
                            style="font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;opacity: 1;font-size: 14px;color: #0b8d00;">готовое<br></em>
                    </p>
                    <hr>
                    <p>Теги:&nbsp;<a class="mr-1" href="#"
                                     style="color: #007b8d;font-weight: bold;font-family: Montserrat, sans-serif;font-style: normal;font-size: 14px;">SQL</a>
                    </p>
                    <hr>
                    <span>Amazon DynamoDB&nbsp;– это база данных пар «ключ‑значение» и документов, которая обеспечивает задержку менее 10&nbsp;миллисекунд при работе в любом масштабе.<br></span>
                </div>
                <div class="modal-footer flex-row-reverse"><span>Разработчики:&nbsp;<a class="text-black-50 mr-1"
                                                                                       href="#">Лейкин Гриша,</a><a
                        class="text-black-50 mr-1" href="#">Лейкин Гриша,</a><a class="text-black-50 mr-1" href="#">Лейкин Гриша</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="add" style="font-family: Montserrat, sans-serif;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"
                        style="font-family: Montserrat, sans-serif;font-weight: 500;font-style: normal;">Добавление
                        сервиса</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="#">
                        <p>Название:&nbsp;<input class="border rounded form-control" type="text" required=""></p>
                        <p>Описание:&nbsp;<textarea class="form-control" cols="5" rows="5"></textarea></p>
                        <p class="mb-0">Авторы:&nbsp;</p>
                        <div class="form-group"><input class="form-control form-control mb-1" type="text" name="planets"
                                                       value="Earth,Mars" placeholder=" "></div>
                        <p class="mb-0">&nbsp;Связанные сервисы:</p>
                        <div class="form-group"><input class="form-control form-control mb-1" type="text" name="planets"
                                                       value="Earth,Mars" placeholder=" "></div>
                        <p class="mb-0">Тег:</p>
                        <div class="form-group"><input class="form-control form-control mb-1" type="text" name="planets"
                                                       value="Earth,Mars" placeholder=" "></div>
                        <button class="btn btn-info" type="button">Добавить</button>
                        <button class="btn btn-light ml-3" type="button" data-dismiss="modal">Закрыть</button>
                        <span
                                class="text-uppercase float-right mt-2"
                                style="font-weight: bold;color: #0b8d00;font-size: 14px;">добавлено</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}