{% load static %}
{% load changellenge %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HYDRASEARCH</title>
    <link rel="stylesheet" href="{% static 'changellenge/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'changellenge/assets/css/amsify.suggestags.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="{% static 'changellenge/assets/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'changellenge/assets/css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'changellenge/assets/css/styles.css' %}">
    {% autoescape off %}
        {#        {{ None|get_martor_css }}#}
    {% endautoescape %}
    {% block extra_css %}

    {% endblock %}
</head>
<body>
<main id="app">
    {% block content %}
    {% endblock %}
</main>
{% block extra_js %}
{% endblock %}
<script src="{% static 'changellenge/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'changellenge/assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'changellenge/assets/js/bs-init.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
<script src="{% static 'changellenge/assets/js/index.js' %}"></script>
<script>
    $(document).ready(function () {
        $('input[name="sort"]').click(function () {
            $('input[name="sort"]').each((k, v) => {
                $(v).next().css('background-color', 'rgb(255,255,255)');
                $(v).next().css('color', 'black');
                $(v).parent().css('background-color', 'rgb(255,255,255)');
            });
            if ($(this).prop('checked') === true) {
                $(this).next().css('background-color', 'rgb(23,162,184)');
                $(this).next().css('color', 'white');
                $(this).parent().css('background-color', 'rgb(23,162,184)');
            }
        });
        $('.heart').click(function () {
            if ($(this).css('filter') === 'grayscale(1)') {
                $(this).css('filter', 'grayscale(0)');
            } else {
                $(this).css('filter', 'grayscale(1)');
            }
        });
        $('.heart-rev').click(function () {

            if ($(this).css('filter') === 'grayscale(0)') {
                $(this).css('filter', 'grayscale(1)');
                $(this).parent().parent().parent().parent().fadeOut(200);
            } else {
                $(this).css('filter', 'grayscale(0)');
            }
        });
        $('#save-btn').click(function () {
            var status = $('.stat-stl').css('display');
            if (status === 'none') {
                $('.stat-stl').fadeIn(500);
                $('.stat-stl').fadeOut(3000);
            }
        });
        {% block onready %}

        {% endblock %}
    });
</script>
<script src="{% static 'changellenge/assets/js/jquery.amsify.suggestags.js' %}"></script>
{% autoescape off %}
    {#    {{ None|get_martor_js }}#}
{% endautoescape %}
</body>
</html>